<h1>Confirmer votre email</h1>

<p>
   Veuillez confirmer votre adresse email en cliquant sur ce lien : <br><br>
    <a href="{{ signedUrl|raw }}">Confirmer mon Email</a>.
    Le lien expire dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Cordialement
</p>
