{% extends 'base.html.twig' %}

{% block title %}Courriel de réinitialisation de mot de passe envoyé{% endblock %}

{% block body %}
    <p>
        Un courriel contenant un lien pour réinitialiser votre mot de passe a été envoyé.
        Ce lien expirera dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
    </p>
    <p>Si vous ne recevez pas ce courriel, vérifiez dans vos spam ou <a href="{{ path('app_forgot_password_request') }}">essayer encore</a>.</p>
{% endblock %}
