<footer>

    <div class="titre_principale_footer">
        <p>
            <img class="logo-footer" src="../../../images/logo.png" alt="Logo de Sospetlost" />
        </p>

        <h1 class="titre-footer">SOS PETLOST</h1>
    </div>

     <p class="info-footer">Site de petites annonces gratuites pour tous les animaux perdus et trouvés</p>

    <p class="info-footer"><a href="">Mentions légales</a> | <a href="">Politique de confidentialité</a> | <a href="">Conditions Générales d'Utilisation</a></p>

</footer>